@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
body > div {
  display: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Open Sans Condensed", sans-serif;
}
body .uc {
  text-transform: uppercase;
}
body a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1228px;
  margin: auto;
}
.container.small {
  max-width: 992px;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #0182f9;
  background-color: #0182f9;
  font-family: "Open Sans Condensed", sans-serif;
  transition: background-color 0.3s;
}

.dark-bg-section {
  background-color: #303030;
  color: white;
}

.jumbo {
  padding: 200px 0;
  background-size: cover;
  background-position: top;
}
.jumbo.teen-titans {
  background-image: url("./../images/jumbotron.jpg");
}

header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
}
header .top-header {
  text-align: right;
  background-color: #0182f9;
  padding: 5px;
}
header .top-header li:last-child {
  margin-left: 60px;
}
header .top-header a {
  font-size: 12.8px;
  font-weight: 600;
}
header .bottom-header {
  border-bottom: 1px solid #ebebeb;
  background-color: white;
  width: 100%;
}
header .bottom-header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-header .nav-container .logo {
  display: inline-block;
  padding: 17px 0;
}
header .bottom-header .nav-container .logo img {
  height: 82px;
}
header .bottom-header .nav-container ul li {
  margin: 0 20px;
}
header .bottom-header .nav-container ul li a {
  display: inline-block;
  line-height: calc(82px + (17px * 2));
  color: #464646;
  font-family: "Open Sans Condensed", sans-serif;
  transition: border-bottom 0.3s;
}
header .bottom-header .nav-container ul li a.active, header .bottom-header .nav-container ul li a:hover {
  color: #0182f9;
  border-bottom: 4px solid #0182f9;
}
header .bottom-header .nav-container ul li a.dropdown::after {
  content: "\25BC";
  font-size: 0.8em;
  color: #0182f9;
}
header .bottom-header .nav-container .searchbar {
  border-bottom: 3px solid #0182f9;
}
header .bottom-header .nav-container .searchbar input {
  border: none;
  outline: none;
  display: inline-block;
}
header .bottom-header.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.5s;
}
header .bottom-header.fixed.hidden {
  top: -200px;
}

main #comic-section h2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0182f9;
  transform: translateY(-50%);
}
main #comic-section .comics-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main #comic-section .comics-list .comic-card {
  display: inline-block;
  flex-basis: calc(100% / 6);
  padding: 0 10px;
  margin-bottom: 30px;
}
main #comic-section .comics-list .comic-card .poster-container {
  width: 100%;
  height: 185px;
  overflow: hidden;
  margin-bottom: 5px;
}
main #comic-section .comics-list .comic-card .poster-container img {
  width: 100%;
}
main #comic-section .comics-list .comic-card p {
  font-size: 12.8px;
}
main #comic-section .button-container {
  text-align: center;
  margin-bottom: 30px;
}
main #products-ad {
  background-color: #0182f9;
  color: white;
  padding: 40px 0;
}
main #products-ad .products-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #products-ad .products-list .product {
  display: flex;
  align-items: center;
}
main #products-ad .products-list .product img:not(.horizontal) {
  height: 50px;
}
main #products-ad .products-list .product .horizontal {
  width: 50px;
}
main #products-ad .products-list .product p {
  margin-left: 10px;
  font-size: 14.4px;
  font-weight: 600;
}
main.header-padding {
  padding-top: 121.6px;
}
main #intestation {
  padding: 30px 0;
  background: #0182f9;
  position: relative;
}
main #intestation .poster-container {
  display: inline-block;
  position: absolute;
  border: 1px solid white;
  bottom: 20px;
}
main #intestation .poster-container div {
  position: absolute;
  background: #01a9da;
  color: white;
  font-size: 12.8px;
  font-family: "Open Sans Condensed", sans-serif;
}
main #intestation .poster-container img {
  display: block;
}
main #intestation .poster-container .comic-type {
  top: 0;
  left: 0;
  padding: 2px;
}
main #intestation .poster-container .gallery {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
main #comic-main-info {
  padding: 50px;
}
main #comic-main-info .container > div {
  float: left;
}
main #comic-main-info .content-container {
  width: calc(2 * 100% / 3);
}
main #comic-main-info .content-container h2 {
  color: #003f5e;
  font-size: 32px;
}
main #comic-main-info .content-container .availability-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #55ba5a;
  border: 1px solid #357739;
  margin: 20px 0;
}
main #comic-main-info .content-container .availability-info .price {
  padding: 0 20px;
  opacity: 0.8;
  flex-grow: 1;
}
main #comic-main-info .content-container .availability-info .price span {
  opacity: 1;
}
main #comic-main-info .content-container .availability-info .availability-status {
  padding: 10px;
  opacity: 0.8;
  border-right: 1px solid #357739;
}
main #comic-main-info .content-container .availability-info .placing {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 14.4px;
}
main #comic-main-info .content-container .availability-info .placing::after {
  content: "\25BC";
  font-size: 11.2px;
}
main #comic-main-info .content-container p {
  font-size: 13.6px;
  color: #959595;
  font-weight: 600px;
  line-height: 1.7;
}
main #comic-main-info .ad-container {
  width: calc(100% / 3);
  position: relative;
  text-align: right;
}
main #comic-main-info .ad-container h5 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  color: #959595;
}
main #comic-infos {
  padding-top: 20px;
  background-color: #F6F6F6;
  border-top: 1px solid #DDD;
}
main #comic-infos .list-container {
  display: flex;
  justify-content: space-between;
}
main #comic-infos .list-container ul {
  flex-basis: 50%;
  padding-right: 15px;
  list-style-type: none;
  padding-bottom: 100px;
}
main #comic-infos .list-container ul li {
  border-bottom: 1px solid #e3e3e3;
}
main #comic-infos .list-container ul li h3 {
  margin: 20px 0;
}
main #comic-infos .list-container ul li h3, main #comic-infos .list-container ul li h5 {
  color: #003f5e;
}
main #comic-infos .list-container ul li:not(:first-child) {
  border-top: 1px solid white;
  padding: 10px 0;
  font-size: 14.4px;
}
main #comic-infos .list-container ul li:not(:first-child) h5 {
  float: left;
  width: calc(100% / 3);
  font-size: 14.4px;
}
main #comic-infos .list-container ul li:not(:first-child) p {
  float: left;
  width: 66.6666666667%;
}
main #comic-infos .list-container ul li:not(:first-child) p a {
  color: #01a9da;
}
main #comic-infos .list-container ul li:not(:first-child) p a:hover {
  text-decoration: underline;
}
main #comic-infos .list-container ul:last-child {
  padding-right: 0;
  padding-left: 15px;
}
main #products {
  border-top: 1px solid #ddd;
}
main #products ul {
  list-style-type: none;
}
main #products ul li {
  float: left;
  width: 25%;
  border-left: 1px solid #ddd;
}
main #products ul li a {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
main #products ul li a span {
  color: #959595;
  font-family: "Open Sans Condensed", sans-serif;
}
main #products ul li a .img-box {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url("/images/cta-icons.png");
}
main #products ul li:last-child {
  border-right: 1px solid #ddd;
}
main #products ul li:nth-child(1) .img-box {
  background-position: 0px 0;
}
main #products ul li:nth-child(1) a:hover {
  background-color: #ddd;
}
main #products ul li:nth-child(1) a:hover .img-box {
  background-position: 0px 37px;
}
main #products ul li:nth-child(1) a:hover span {
  color: #003f5e;
}
main #products ul li:nth-child(2) .img-box {
  background-position: 37px 0;
}
main #products ul li:nth-child(2) a:hover {
  background-color: #ddd;
}
main #products ul li:nth-child(2) a:hover .img-box {
  background-position: 37px 37px;
}
main #products ul li:nth-child(2) a:hover span {
  color: #003f5e;
}
main #products ul li:nth-child(3) .img-box {
  background-position: 74px 0;
}
main #products ul li:nth-child(3) a:hover {
  background-color: #ddd;
}
main #products ul li:nth-child(3) a:hover .img-box {
  background-position: 74px 37px;
}
main #products ul li:nth-child(3) a:hover span {
  color: #003f5e;
}
main #products ul li:nth-child(4) .img-box {
  background-position: 111px 0;
}
main #products ul li:nth-child(4) a:hover {
  background-color: #ddd;
}
main #products ul li:nth-child(4) a:hover .img-box {
  background-position: 111px 37px;
}
main #products ul li:nth-child(4) a:hover span {
  color: #003f5e;
}

footer .top-footer {
  background-image: url("./../images/footer-bg.jpg");
  background-size: cover;
}
footer .top-footer .top-footer-content-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
footer .top-footer .top-footer-content-container > * {
  flex-basis: 50%;
}
footer .top-footer .top-footer-content-container .content-container {
  padding: 30px 0;
}
footer .top-footer .top-footer-content-container .content-container .column {
  float: left;
  margin-right: 30px;
}
footer .top-footer .top-footer-content-container .content-container .column ul {
  list-style-type: none;
}
footer .top-footer .top-footer-content-container .content-container .column ul h3 {
  color: white;
  font-size: 1.2em;
  margin: 10px 0;
}
footer .top-footer .top-footer-content-container .content-container .column ul a {
  color: #959595;
  font-size: 11.2px;
}
footer .top-footer .top-footer-content-container .content-container .column ul a:hover {
  color: #0182f9;
}
footer .top-footer .top-footer-content-container .content-container p {
  margin-top: 30px;
  font-size: 11.2px;
  color: #959595;
}
footer .top-footer .top-footer-content-container .content-container p a {
  color: #0182f9;
}
footer .top-footer .top-footer-content-container .bg-logo-container {
  background-image: url("./../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer .bottom-footer {
  padding: 30px;
  background-color: #303030;
}
footer .bottom-footer .btn {
  background-color: transparent;
  padding: 10px 5px;
  font-size: 19.2px;
}
footer .bottom-footer .btn:hover {
  background-color: #0182f9;
}
footer .bottom-footer .socials {
  float: right;
  display: flex;
  align-items: center;
}
footer .bottom-footer .socials p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #0182f9;
  font-size: 20.8px;
  margin-right: 30px;
}
footer .bottom-footer .socials ul {
  list-style-type: none;
}
footer .bottom-footer .socials ul li {
  display: inline-block;
}
footer .bottom-footer .socials ul li a:hover {
  opacity: 0.8;
}
footer .bottom-footer .socials ul li:not(:last-child) {
  margin-right: 15px;
}