* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $mainFont;

    & > div {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $secondaryFont;
    }

    .uc {
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.container {
    max-width: 1228px;
    margin: auto;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $mainColor;
    background-color: $mainColor;
    font-family: $secondaryFont;
    transition: background-color 0.3s;
}
