$mainFont: 'Open Sans', sans-serif;
$secondaryFont: 'Open Sans Condensed', sans-serif;
$baseFontSize: 16px;

$mainColor: #0182f9;
$mainColorLighter: #01a9da;
$navTextColor: #464646;
$footerLinksColor: #959595;
$darkBg: #303030;
$titleColor: #003f5e;
